/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* *{
  border: 2px solid blue;
} */

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: url(assets/burger-friends.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.cookpot-image {
  position: relative;
  max-width: 140px;
  opacity: 100;
  z-index: 0;
}

nav {
  background-color: #0fb9b1;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  width: 100vw;
}

main {
  display: flex;
  justify-content: space-around;
}

section {
  position: relative;
  margin-top: 6vh;
  margin-bottom: 1vh;
  width: 400px;
  height: 22em;
  background-color: rgba(225, 225, 225, .9);
}

#dishes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 840px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #dishes {
      margin-top: 2vh;
      margin-bottom: 6vh;
    }
}

section h3 {
  font-weight: 700;
  margin-top: 10%;
  margin-left: 8%;
}

section h3::after {
    content: "*";
    color: #ee5253;
    vertical-align: super;
}

h2 {
  margin-left: 1vw;
}

h1 {
  text-align: center;
  font-size: 26px;
  margin-top: -7vh;
  padding: 20px;
  font-weight: 900;
}

h4 {
  text-align: center;
  font-style: italic;
  padding: 0 10px;
  margin-top: 15vh;
}

.cook-button {
  background-color: #0fb9b1;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px 3px;
  margin-left: 8%;
  border: 0;
  opacity: 100;
  width: 190px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.cook-button:hover {
  transform: scale(1.1)

}

.recipe-button {
  text-transform: uppercase;
  margin-right: 2vw;
  height: 55%;
  border: 0;
  border-radius: 3px;
  padding: 8px;
}

.hidden {
  visibility: hidden;
}

.button-container {
  display: flex;
  position: relative;
  height: 4vh;
  width: 400px;
  justify-content: flex-end;
  margin-top: 3vh;
}

.clear-button {
  position: absolute;
  padding: 10px;
  color: white;
  background-color: #95a5a6;
  text-transform: uppercase;
  border-radius: 4px;
  width: 70px;
  margin-top: -3vh;
  margin-right: 3vw;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 769px) {
    .clear-button {
      margin-right: 5vw;
    }
}

.clear-button:hover {
  background-color: #6d8082;
  transform: scale(1.1);
}

ul > input {
  margin-bottom: 5%;
}
