/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* *{
  border: 2px solid blue;
} */

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: url(assets/burger-friends.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.cookpot-image {
  max-width: 140px;
  opacity: 100;
}

nav {
  background-color: #0fb9b1;
  display: flex;
  top: 0;
  justify-content: space-between;
  height: 3.5em;
  width: 100vw;
}

main {
  display: flex;
  justify-content: space-around;
}

section {
  margin-top: 3%;
  width: 400px;
  height: 22em;
  background-color: rgba(255, 255, 255, 0.85);
}
